    <footer>
        <p>CST336 Internet Programming. 2025© Krayilo, Fedeli</p>
        <p><strong>Disclaimer:</strong> The information on this page is fictitous.</p>
        <p>It is used for academic purposes only.</p>
    </footer>